@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --clr-main: #007bbb;
    --clr-strong: #014f78;
    --clr-ligth: #40b1ec;
    --clr-white: rgb(244, 244, 244);
    --clr-black: rgb(23, 23, 23);
    --clr-gray: rgb(229, 228, 228);

    --wrapper-max-width: 80%;
    --container-padding: 3rem;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

body {
    color: var(--clr-black);
    font-family: 'Rubik', sans-serif;
    background-color: var(--clr-white);
}

h1 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

.container {
    max-width: var(--wrapper-max-width);
    margin: auto;
}

html, body, .site-container {
  height: 100%;
  /* max-width: 100%; */
}

.site-container {
  display: grid;
  grid-template-rows: 61px 1fr 84px;
  grid-template-columns: 1fr;
}

/* NAVBAR */

header {
  box-shadow: 0px 2px 40px var(--clr-black);
}

ul li {
  list-style: none;
}

.navItem {
  text-decoration: none;
  padding: 1rem;
  color: var(--clr-main);
}

.navItem:hover {
  background-color: var(--clr-main);
  color: var(--clr-white);
}

.navItemList {
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-main);
  position: sticky;
  top: 0;
}

nav h1 .navItem {
  color: var(--clr-main);
}

nav h1 img {
  max-height: 32px;
}

nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

nav ul li a:not(.active):hover {
  background-color:var(--clr-main);
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  cursor: pointer;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: var(--clr-main);
  border-radius: 0.2rem;
}

.navList {
  display: flex;
  flex-direction: row;
}

@media (min-width: 791px) {
  nav ul {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 790px) {
  nav .menu {
      display: flex;
  }

  nav {
      flex-direction: column;
      align-items: flex-start;
  }

  nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;
  }

  nav ul.open {
      display: flex;
      background-color: var(--clr-white);
  }

  nav ul li {
      width: 100%;
      text-align: center;
  }

}

/* OBSERVATIONS */

.observations {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 16px;
}

.observation {
  background-color: var(--clr-gray);
  border-radius: 4px;
  text-decoration: none;
  padding: 1rem;
}

.observation-content p,
.observation p {
  padding-top: 0.5rem;
  background-color: var(--clr-white);
  border-radius: 2px;
  padding: .5rem;
}

.observation-content div,
.observation div {
  padding: 0.5rem;
}

.observation-content h4,
.observation h4 {
  margin-bottom: 0.5rem;
}

                      
.observation-card {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 300px 1fr;
  background-color: var(--clr-gray);
  border-radius: 4px;
  /* text-decoration: none; */
  /* padding: 1rem; */
}

.observation-user {
  padding: 2rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 4px solid var(--clr-main);
}
.observation-content {
  padding: 2rem; 
  display: grid;
  grid-template-columns: 1fr;
} 


.observation-user  img {
  border-radius: 500px;
  margin-bottom: 1rem;
  max-width: 200px;
  
}

.observation p {
  height: 100px;
}

@media screen and (max-width: 991px) {
  .observation-card {
    grid-template-columns: 1fr;
  }

  .observation-user {
    padding: 1rem; 
    border-right: 0px;
    border-bottom: 4px solid var(--clr-main);
  }
}
/* PROYECTS */

.proyects {
  list-style: none;
  margin: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(240px, 300px));
  gap: 16px;
  margin-top: 2rem;
}

.proyect {
  background-color: var(--clr-gray);
  border-radius: 4px;
  text-decoration: none;
  /* border: 2px solid var(--clr-main); */
}

.proyect-text {
  padding: 16px 8px;
  border-top: 4px solid var(--clr-main);
  border-radius: 0 0px 4px 4px;
}

.proyect img {
  border-radius: 4px 4px 0 0;
}

.proyect h3 {
  /* margin: 16px 8px; */
  padding: 1rem;
  color: var(--clr-black);
}

.proyect:hover {
  opacity: 0.8;
  border: 2px solid var(--clr-main);
  cursor: pointer;
}

.publicaciones {
  /* margin: 3rem auto; */
  margin: 3rem 10%;
}

.publicaciones h3,
.publicaciones h2 {
  margin-bottom: 24px;
}

/* DETALLE */

.detalle {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.contenido h2 {
  margin-bottom: 16px;
}

.contenido p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

.botonPrincipal {
  margin: 1rem auto;
  background-color: var(--clr-main);
  color: var(--clr-white);
  border: 2px solid var(--clr-main);
  border-radius: 4px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  min-width: 132px;
  text-align: center;
  max-height: 38px;
}

.botonPrincipal:hover {
  background-color: var(--clr-white);
  color: var(--clr-main);
  cursor: pointer;
}

.listaGeneros {
  padding: 1rem;
  border-top: 1px solid var(--clr-black);
  border-bottom: 1px solid var(--clr-black);

  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
}

.genero {
  list-style: none;
  text-align: center;
}

/* OBSERVACION */

.observacion {
  margin: 3rem 10%;
}

.formulario {
	width: 100%;
	background: var(--clr-gray);
	margin: 1.5rem auto;
	padding: 1.2rem;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.formulario h3 {
  margin-bottom: 1rem;
}

legend,
form div label {
	font-weight: bold;
  color: var(--clr-black);
}

textarea {
    border: none;
    height: 6.25em;
    padding: 6px;
	  margin-top: 0.5em;
	  margin-bottom: 1em;
    resize: none;
    border-radius: 4px;
    width: 100%;
}

select {
  border: none;
  padding: 6px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  border-radius: 4px;
  width: 80%;
  padding: 1rem;
  margin-right: 1rem;
}

div input {
  border: none;
  padding: 6px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  border-radius: 4px;
  width: 100%;
}

fieldset div {
  padding: 1rem;
}

fieldset label input {
  width: 10%;
}

/* FOOTER */

.footer {
  background-color: var(--clr-strong);
  color: var(--clr-white);
  padding: 2rem;
  bottom: 0;
}

.footer p {
  text-align: center;
}

/* SECCION 2 */

.articulo {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.articulo + .articulo {
  margin-top: 1.8rem;
}

.articulo-texto {
  max-width: 50%;
  padding: 1rem;
}

.articulo-texto h3 {
  margin-bottom: 1rem;
  color: var(--clr-strong);
}

.articulo-texto p {
  line-height: 1.6rem;
}

.invertido {
  order: -1;
}

/* .aviso,
.ofertas,
.detalleProducto, */
.caracteristicas,
.articulos {
  margin-top: 4rem;
}

.detalle img {
  object-fit: cover;
  border-radius: 4px;
}

@media screen and (min-width: 701px) {
  .detalle {
    /* display: grid; */
    grid-template-columns: 40% 1fr;
  }

  .detalle img {
    max-width: 100%;

  }

  .contenido {
    align-items:flex-start;
    padding: 2rem;
  }

  .formulario {
    width: 80%;
  }
}

.formInicio {
  margin-top: 4rem;
  margin-bottom: 4rem;
  border: 4px solid var(--clr-main);
  border-radius: 4px;
  padding: 4rem;
}

.formInicio h1 {

  margin-bottom: 1rem;
}

.formInicio{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoEntrada {
  max-width: 20%;
  margin-bottom: 2rem;
}

.formInicio form {
  width: 100%;
}

/* form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* .noLink {
  text-decoration: none;
} */

.contenedor-links {
  display: flex;
  flex-direction: column;
}

.contenedor-links-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .contenedor-links Link {
  text-decoration: none;
} */

a:-webkit-any-link {
  text-decoration: none;
}

fieldset div label {
  display: inline-block;
}

fieldset div label input {
  min-width: 40px;
}

.generar-observacion h3 {
  margin-bottom: 2rem;
}

.generar-observacion {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.comment,
.observations {
  margin-top: 3rem;
}
/* ----------------------- */

@media screen and (max-width: 991px) {

  .articulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .articulo-texto h3 {
    text-align: center;
  }

  .articulo-texto {
    max-width: 100%;
    padding: 1rem;
  }

  .invertido {
    order: 1;
  }
}

.seccion {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 2rem;
}

.formulario {
  border: 4px solid var(--clr-main);
  background-color: var(--clr-white);
}

.listaGeneros {
  margin: 1rem;
}

/* PERFIL */

.perfil {
  margin-top: 3rem;
}

.contenidoPerfil {
  display: grid;
  grid-template-columns: 1rf;
  gap: 16px;
}

.contenidoPerfil  img {
  border-radius: 4px;
  max-width: 100%;
}

.elementoPerfil {
  display: grid;
  grid-template-columns: 1rf;
  gap: 12spx;
  margin-bottom: auto;
}

@media screen and (min-width: 701px) {
  .contenidoPerfil  img {
    max-width: 30%;
  }
}